<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beaconUUIDs</key>
	<array>
		<string>f93a4e27-1503-59fb-a243-7d60a5c9a155</string>
	</array>
	<key>applicationID</key>
	<string>b0b6369abcee08d40ee10d5eb1e60936</string>
</dict>
</plist>
